<div class="container-fluid">
  <div class="row">


    <div class="col-lg-3">
      <div class="col">
      <div class="col">
      <div class="card">
        <div class="card-header">Notifications</div>
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
        <div class="card">
          <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>

      <div class="row mt-2 justify-content-center">
        <button class="material-icons md-48 mx-1" (click)="likePage()">
          thumb_up
        </button>
        <br>
        {{likeCount}}
        <button class="material-icons md-48 mx-1" (click)="dislikePage()">
          thumb_down
        </button>
        <br>
        {{dislikeCount}}
      </div>
    </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <div class="row">
            <div class="col-8">
              <p class="card-text text-justify">{{summary}}</p>
            </div>
            <div class="col-4">
              <img src="{{imageURL}}" alt="No Image Available" style="width: 100%"/>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <form>
        <div class="form-group">
          <textarea name="input-for-usernote" class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="usernote">Your Note...</textarea>
          <br>
          <button type="submit" class="btn btn-primary" (click)="addNote()">Submit</button>
        </div>
      </form>
      <hr>
      <h3>Notes</h3>
      <hr>
      <div *ngFor="let n of notes">
        <p>{{n["content"]}}</p>
        <hr>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card border-primary mb-3">
        <div class="card-header">Tags</div>
        <div class="card-body text-primary">
          <p class="card-text">
            <li *ngFor="let c of entities">
              {{c["name"]}}
            </li>
        </div>
      </div>
    </div>


  </div>
</div>
