<div class="text-center">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    <label for="inputFN" class="sr-only">First Name</label>
    <input [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" type="text" id="inputFN" class="form-control" placeholder="First Name" required autofocus/>
    <label for="inputLN" class="sr-only">Last Name</label>
    <input [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" type="text" id="inputLN" class="form-control" placeholder="Last Name" required/>
    <label for="inputEM" class="sr-only">Email Address</label>
    <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" id="inputEM" class="form-control" placeholder="Email Address" required/>
    <label for="inputPH" class="sr-only">Phone</label>
    <input [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" type="text" id="inputPH" class="form-control" placeholder="Phone" required/>
    <label for="inputUN" class="sr-only">Username</label>
    <input [(ngModel)]="username" [ngModelOptions]="{standalone: true}" type="email" id="inputUN" class="form-control" placeholder="Username" required/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" id="inputPassword" class="form-control" placeholder="Password" required/>
<!--    <label class="radio-inline" for="regu"><input type="radio" name="optradio" id="regu" checked class="form-control">Standard User</label>-->
<!--    <label class="radio-inline" for="su"><input type="radio" name="optradio" id="su" class="form-control">Super User</label>-->
    <div class="form-check form-check-inline rounded py-2 px-1 mb-2">
      <label class="form-check-label mr-4" for="inlineRadio">
        <input class="form-check-input radio-inline" type="radio" name="usrrole" id="inlineRadio" checked [(ngModel)]="role" value="standardUser">
        Standard User</label>
      <label class="form-check-label" for="inlineRadio2">
        <input class="form-check-input radio-inline" type="radio" name="usrrole" id="inlineRadio2" [(ngModel)]="role" value="superUser">
        Super User</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="register(firstName, lastName, email, phone, username, password, role)">Sign Up</button>
    <a class="mt-5 mt-3 mb-3 text-muted" routerLink="/login">login</a>
  </form>
</div>
